SourceryTemplateEngine/SwiftTemplate/2.0.2/.build
SourceryTemplateEngine/SwiftTemplate/2.0.2/.swiftpm
SourceryTemplateEngine/SwiftTemplate/2.0.2/.cache
SourceryTemplateEngine/SwiftTemplate/2.0.2/context.bin
